{% render 'partials/head.liquid' %}
<P>{{task.0.title}}</P>


<h1>{{task.1.title}}</h1>
<P>{{task.0.description}}</P>
<p>47 community drops</p>


{% # <p>{{task|json}}</p> %}

<h2>description</h2>
    <ul>
        {% for title in task %}
            <li>{{ task.0.title }}</li>
        {% endfor %}
    </ul>
    
<p> Team: {{ exercise.json }} </p> 

     


<footer></footer>

{% render 'partials/foot.liquid' %}
